<script type="javascript/x-handlebars-template" id="message_sidebar_template">
  <div class="list-group" style="margin-bottom: 2px;">
    <a href="#" class="list-group-item message-listing" data-id="{{id}}" data-subject="{{subject}}" data-body="{{body}}" data-sender="{{sender}}" data-created-at="{{created_at}}">
      <h4 class="list-group-item-heading">{{subject}}</h4>
      <h4 class="list-group-item-heading">{{sender}}</h4>
      <p class="list-group-item-text break-words">{{preview}}</p>
      <p class="list-group-item-text text-inverse">{{created_at}}</p>
    </a>
  </div>
</script>