<script type="javascript/x-handlebars-template" id="message_template">
  <div class="well break-words">
    <h3>{{subject}}</h3>
    <h4>Sender: {{sender}}</h4>
    <h4>Recipients: {{recipients}}</h4>
    <h4>{{created_at}}</h4>
    <p>{{{body}}}</p>
  </div>
</script>