<script type="text/x-handlebars-template" id="recipient_template">
  <li class="ac-token">
    {{name}}
    <a href="#" name="remove-recipient">
      <i class="fa fa-times"></i>
    </a>
    <input type="hidden" name="recipients[]" value="{{id}}">
  </li>
</script>