<%= render 'message_sidebar_template' %>
<select class="form-control" id="messages_selector">
  <option value="inbox">Inbox</option>
  <option value="sent">Sent</option>
</select>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active">
    <div id="message_inbox_container" class="scroll">

    </div>
    <ul class="pagination" id="message_inbox_pagination"></ul>
  </div>
  <div role="tabpanel" class="tab-pane">
    <div id="message_sent_container" class="scroll">

    </div>
    <ul class="pagination" id="message_sent_pagination"></ul>
  </div>
</div>