<ul class="nav-stacked nav-pills nav" style="text-align: center;">
  <li class="active"><a href="#group_show_pane" class="group-show" data-toggle="tab"><i class="fa fa-home"></i></a></li>
  <li><a href="#group_users_pane" class="group-users-show" data-toggle="tab"><i class="fa fa-users"></i></a></li>
  <li><a href="#group_lobbies_pane" class="group-lobbies-show" data-toggle="tab"><i class="fa fa-money"></i></a></li>
  <li><a href="#group_stats_pane" class="group-stats-show" data-toggle="tab"><i class="fa fa-bar-chart"></i></a></li>
  <li><a href="#group_settings_pane" class="group-settings-show" data-toggle="tab"><i class="fa fa-cogs"></i></a></li>
</ul>



<!-- Modal -->
<div class="modal fade" id="my-group-setting-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Group</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label class="col-lg-2 control-label">Name</label>
              <div class="col-lg-10">
                <input  class="form-control" id="group-name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Max&nbsp;Users</label>
              <div class="col-lg-2">
                <input id="max-users"  class="form-control" >
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Lobbies</label>
              <div class="col-lg-2">
                <input  class="form-control" id="lobbies" >
              </div>
            </div>
            <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">Description</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="description textArea"></textarea>
                <span class="help-block"><em>This will be the description that displays on your group home page</em></span>
              </div>
            </div>
            <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Availability</label>
              <div class="col-lg-10">
                <select class="form-control" id="avail" >
                  <option>Public</option>
                  <option>Private</option>
                </select>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="update-group-settings" >Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update User</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <form class="form-horizontal">
              <fieldset>
                <div class="form-group ">
                  <label class="col-sm-2 control-label" for="formGroupInputLarge">Add&nbsp;User</label>
                  <div class="col-sm-10 form--lg">
                    <input class="form-control" type="text" id="userInputSearch" placeholder="Enter user name here..">
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label for="select" class="col-lg-2 control-label">Role</label>
                  <div class="col-lg-10" >
                    <select class="form-control" id="user-to-select">
                      <option>Moderator</option>
                      <option>Member</option>
                    </select>
                  </div>
                </div>
              </fieldset>
            </form>
            </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="update-group-users">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="edit-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Group User</h4>
      </div>
      <div class="modal-body">
        <div class="form-group user_display_name_edit">
          <fieldset>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-2">
                  <label for="inputDisplayName" class="control-label">User Name</label>
                </div>
                <div class="col-lg-10">
                  <input type="text" class="edit-user-display-name form-control" id="inputDisplayName" >
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-2">
                  <label for="select" class="control-label">Role</label>
                </div>
                <div class="col-lg-10">
                  <select class="form-control" id="edit-user-role" >
                    <option value="member">Member</option>
                    <option value="moderator">Moderator</option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
          </form>
          <div class="modal-footer">
            <button type="reset" class="btn btn-primary" id="remove-user-button">Remove&nbsp;User</button>
            <button type="submit" class="btn btn-danger" id="update-user-role-button">Update&nbsp;User</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/x-handlebars-template" id="group-info-page" >

  <h1>{{name}}</h1>
  <p>{{created_at}}</p>
  <p>{{settings.description}}</p>

</script>

<script type="text/x-handlebars-template" id="group-users-page" >

  <h1>Gambling Partners</h1>
  {{#each results}}
  <div class="group-user-row" data-group-membership-id="{{id}}" data-role="{{role}}" data-display-name="{{user.display_name}}">
    <dl class="dl-horizontal">
      <dt><a href="/users/{{user_id}}">{{user.display_name}}</a></dt>
      <dd>{{role}}
      <span class="user-modify">
        <a href="#">
          <i class="fa fa-pencil pull-right" id="open-user-edit-modal"></i>
        </a>
      </span>
      </dd>
    </dl>
  </div>
  {{/each}}

  <a href="#" data-toggle="modal" data-target="#add-user" ><i class="fa fa-user-plus fa-3x"></i></a>
</script>

<script type="text/x-handlebars-template" id="group-lobbies-page" >

  <h1>Lobbies</h1>

</script>

<script type="text/x-handlebars-template" id="group-stats-page" >

  <h1>Stats</h1>

</script>

<script type="text/x-handlebars-template" id="group-settings-page" >
  <div class="well group-name-well">
    <h1 class="inline">{{name}}'s Settings</h1>
    <span class="inline edit-group-settings pull-right">
      <a href="" data-toggle="modal" data-target="#my-group-setting-modal">
        <i class="fa fa-pencil">
        </i>
      </a>
    </span>
  </div>

  <h5>Name:</h5><p>{{name}}</p>
  <h5>Created On:</h5><p>{{created_at}}</p>
  <h5>Maximum amount of Users:</h5><p>{{settings.max_users}}</p>
  <h5>Availability</h5><p>{{settings.availability}}</p>
  <h5>Lobbies</h5><p>{{settings.lobbies}}</p>
  <h5>Group Description:</h5><p>{{settings.description}}</p>

</script>