<script type="text/x-handlebars-template" id="groups_index_page">
  <a href="#">
    <a href="/groups/{{id}}" class="list-group-item">{{name}}</a>
  </a>
</script>

<ul class="list-group">

</ul>

<%= render template: "groups/show" %>