<div class="row">
  <h1 class="col-md-offset-4">
    Find a Public Group!
  </h1>

  <div class="col-sm-10 col-md-8 col-md-offset-2">
    <input class="form-control" type="text" id="group-input-search" placeholder="Search For Public Groups..">
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 hidden" id="selected-group-index-page">
    Hello World
  </div>
</div>
