
<div class="row">
  <div class="col-md-1 group-sidebar-show">
    <%= render 'groupsidebar' %>
  </div>


  <div class="group-main-wrapper tab-content col-md-8 col-sm-6 ">
    <div class="tab-pane active" id="group_show_pane">
      <i class="fa fa-cog fa-spin fa-2x"></i>
    </div>
    <div class="tab-pane" id="group_users_pane">
      <i class="fa fa-cog fa-spin fa-2x"></i>
    </div>
    <div class="tab-pane" id="group_lobbies_pane">
      <i class="fa fa-cog fa-spin fa-2x"></i>
    </div>
    <div class="tab-pane" id="group_stats_pane">
      <i class="fa fa-cog fa-spin fa-2x"></i>
    </div>
    <div class="tab-pane" id="group_settings_pane">
      <i class="fa fa-cog fa-spin fa-2x"></i>
    </div>
  </div>
</div>

