<div class="row">
  <div class="col-md-3" style="margin-left: 70px">
<%= render "sidebar" %>
  </div>

  <div class="col-md-8" >
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">Payment Information</span>
        <span class="pull-right edit-pane">
          <i class="fa fa-pencil"></i>
        </span>
      </div>
      <div class="panel-body">
        Payment info Here
      </div>
    </div>
  </div>


  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">Group Information</span>
        <span class="pull-right edit-pane">
          <i class="fa fa-pencil" data-toggle="modal" data-target="#myGroupEditModal"></i>
        </span>
      </div>
      <div class="panel-body">
        Group Info Here
      </div>
    </div>
  </div>

</div>

<!--Group Edit Modal -->
<div class="modal fade" id="myGroupEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      <% if @user_groups.nil? %>
        <h2>Sorry, no groups yet</h2>
      <% else %>
        <% @user_groups.each do |g| %>
          <%= g.name %>
        <% end %>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>