<script type="text/x-handlebars-template" id="payment_row_template">
  <a href="/payments/{{uuid}}" class="list-group-item">
    <div class="row">
      <p class="list-group-item-text">
        <div class="col-md-7">Payment ID: {{uuid}}</div>
        <div class="col-md-2">${{amount}}</div>
        <div class="col-md-3">{{created_at}}</div>
      </p>
    </div>
  </a>
</script>