<div class="row slight-margins">
  <div class="col-md-12">
    <div role="tabpanel">
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#initiated_payments" aria-controls="home" role="tab" data-toggle="tab">Initiated</a></li>
        <li role="presentation"><a href="#processed_payments" aria-controls="home" role="tab" data-toggle="tab">Processed</a></li>
        <li role="presentation"><a href="#failed_payments" aria-controls="home" role="tab" data-toggle="tab">Failed</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="initiated_payments">
          <i class="fa fa-cog fa-spin fa-2x"></i>
        </div>
        <div role="tabpanel" class="tab-pane" id="processed_payments">
          <i class="fa fa-cog fa-spin fa-2x"></i>
        </div>
        <div role="tabpanel" class="tab-pane" id="failed_payments">
          <i class="fa fa-cog fa-spin fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
</div>