<script type="text/x-handlebars-template" id="role_users_template">
  <a href="/users/{{id}}" class="list-group-item">
    <h4 class="list-group-item-heading">{{name}}</h4>
    <p class="list-group-item-text">{{date}}</p>
  </a>
</script>