/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import '../../../vendor/assets/stylesheets/_variables.scss';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import '../../../vendor/assets/stylesheets/_bootswatch.scss';

.break-words {
  word-break: break-all;
}

.scroll {
  overflow-y: scroll;
  height: 600px;
}

.ui-autocomplete {
  z-index:1050 !important;
}

.ac-token {
  background: #dee7fa;
  border: 1px solid #85ace0;
  border-radius: 14px;
  box-sizing: border-box;
  cursor: default;
  display: inline-block;
  line-height: normal;
  margin: 2px 4px 2px 0;
  overflow: hidden;
  padding: 0 8px 0 8px;
  position: relative;
  vertical-align: middle;
}

ul[class*=ac-] {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ac-token-list {
  display: inline;
  position: relative;
  z-index: 1050;
}