// Place all the styles related to the users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-heading .edit-pane {
  display: none;
}

.edit-usr-info {
  display: none;
}

.user-base-info:hover {
  .edit-usr-info {
    display: inline-block;
  }
}

.panel-heading:hover {

  .edit-pane {
    display: inline-block;
  }
}

.user-grou-panel .panel .panel-body-groups {
  max-height: 150px;
  overflow: scroll;
}

.circular {
  width: 175px;
  height: 175px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSTKkUB0XsBsIAhyE_A2kk2z8Mc2Me1PqV7jh7zVktLWV4cptmv) no-repeat;
}